
     
.App {
  text-align: center;
}
 
nav{
  display: flex;
  justify-content: space-between;
  padding : 12px;
}
.main-container{
  margin: 27px;
}
.nav-btn-group{
  display: flex;
  flex-direction: row;
  gap : 1rem;
}
 
.stud-collection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:  wrap;
  gap : 1rem;
}
 
.stud-card{
  width : 200px;
  height: 250px;
  background-color: #ccc;
  border-radius: 12px;
}

.card-btn-group{
  padding : 12px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
 
.card-btn-group>button{
  padding : 7px;
  width : 55px;
  border-radius: 5px;
  border: none;
}
.card-btn-group>button:hover{
  background-color: black;
  color: white;
 
}
input{
  padding: 7px;
  width: 95%;
  margin: 5px;
  align-items: center;
  display: flex;
}

.form-group{
  border: none;
  padding: 12px;
  /* background-color: whitesmoke; */
}